<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>8llow Me!</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="shortcut icon" href="/images/1.jpg">

</head>
<body>

<section id="container">
    <header id="header">
        <section class="h_inner">

            <h1 class="logo">
                <a href="index.html">
                    <div class="sprite_insta_icon"></div>
                    <div>
                        <div class="sprite_write_logo"></div>
                    </div>
                </a>
            </h1>

            <div class="search_field">
                <input type="text" placeholder="검색" tabindex="0">

                <div class="fake_field">
                    <span class=sprite_small_search_icon></span>
                    <span>검색</span>
                </div>
            </div>

            <div class="right_icons">
                <a href="new_post.html">
                    <div class="sprite_camera_icon"></div>
                </a>
                <a href="login.html">
                    <div class="sprite_compass_icon"></div>
                </a>
                <a href="followlist.html">
                    <div class="sprite_heart_icon_outline"></div>
                </a>
                <a href="profile.html">
                    <div class="sprite_user_icon_outline"></div>
                </a>
            </div>
        </section>
    </header>

    <div id="main_container">

        <div class="form_container">

            <div class="form">

                <h1 class="login title"></h1>

                <form action="#">
                    <p class="login_user_name">
                        <label for="user_name"></label>
                        <input type="text" id="user_name" placeholder="ID">
                    </p>

                    <p class="login_user_password">
                        <label for="user_password"></label>
                        <input type="password" id="user_password" placeholder="Password">
                    </p>

                    <input type="submit" id="submit_btn" value="Login" class="submit_btn">
                </form>
            </div>

            <div class="bottom_box">
                <div>
                    <span>8llow ME가 처음이신가요?</span>&nbsp;&nbsp;<a href="signup.html">Sign up</a>
                </div>
            </div>
            <br>

            <div class="bottom_box">
                <div>
                    <span>
                        <button class="button2">Social Login&nbsp;&nbsp;[[ Click ]]</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="/js/insta.js"></script>

</body>
</html>